/*======================= П О Д В А Л =========================*/

.footer {
	background-color: #1e1f28;
	height: auto;
	padding-top: 40px;
}
.footer-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;

}
// .footer-block {
// 	display: flex;
// 	justify-content: space-between;
// 	flex-wrap: wrap;
// 	width: 100%;
// }
.footer-link {
	display: flex;
	flex-direction: column;
	width: 280px;
}
.title-top {
	color: white;
	@include adaptiv-font(18, 14);
	font-weight: 500;
	margin-bottom: 30px;
}
.title-link {
	color: #8890a1;
	margin-bottom: 28px;
	@include adaptiv-font(14, 12);
	line-height: 16px;
	@media (max-width: 479.98px) {
		display: none;
	}
}
